:root{
    /* Fuentes */
    --font1:  'Cinzel', serif;
    --font3: 'Lato', sans-serif;
    --font3: 'Poppins', sans-serif;
    --font4: 'Secular One', sans-serif;
    /* Colores */

    --color1 : 
 
}